h1{
    color:green
}
#div1 {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid #DB9A3D;
    padding: 50px;
    margin: 20px;
  }
#div2 {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid #F27438;
    padding: 50px;
    margin: 20px;
  }
  #div3 {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid #EB473B;
    padding: 50px;
    margin: 20px;
  }